*{
   margin: 0;
   padding: 0;
   /*font-family??? */
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
  position: relative;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  background-color: #ffe54a;
}
.container .card
{
    position: relative;
    max-width: 208px;
    height: 100px;
    background: #ffffff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0,5);
    transition:  0.3s ease-in-out;
    
}
.container .card:hover
{
    height: 220px;
}
.container .card .box1
{
    position: relative;
    width: 260px;
    height: 260px;
    top:-60px;
    left: 2px;
    z-index: 1;
    box-shadow: 0 5px 202px rgba(0,0,0,0,5);

}
.container .card .box1 img{
    max-width: 100%;
    border-radius: 4px;
}
img 
{
    background-color: white;
}
.container .card .content
{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content
{
   visibility: visible;
   opacity: 1;
   margin-top: -40px;
   transition-delay: 0.1s;
}